<a href="https://colab.research.google.com/github/Sreraj/Movie-Recommendation-System/blob/main/Netflix_Movie_Recommendation_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***NETFLIX MOVIE RECOMMENDATION SYSTEM***

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("/content/dataset.csv",on_bad_lines="skip")
df

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partnerâ€™s murder by an...,16.482,2019-05-31,4.6,221

In [ ]:
# Shape of the dataset
df.shape

(10000, 9)

In [ ]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [ ]:
# Check null values
df.isna().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [ ]:
df.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
# select relevant features
df =  df[['id','title','genre','overview']]
df

,id,title,genre,overview
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partnerâ€™s murder by an...

In [ ]:
df['tags'] = df['overview']+df['genre']
df

,id,title,genre,overview,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partnerâ€™s murder by an...,Seeking justice for his partnerâ€™s murder by an...

In [ ]:
df.isna().sum()

id           0
title        0
genre        3
overview    13
tags        15
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
# drop gnere and over view

df.drop(['genre','overview'],axis=1,inplace=True)
df

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partnerâ€™s murder by an...

In [ ]:
text = df['tags']

In [ ]:
# Tokenization

import nltk
nltk.download('punkt_tab')

from nltk.tokenize import TweetTokenizer
tk = TweetTokenizer()

text = text.apply(lambda x: " ".join(tk.tokenize(x)))
text

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

0       Framed in the 1940s for the double murder of h...
1       Raj is a rich , carefree , happy-go-lucky seco...
2       Spanning the years 1945 to 1955 , a chronicle ...
3       The true story of how businessman Oskar Schind...
4       In the continuing saga of the Corleone crime f...
                              ...
9995    The story follows the adventures of Aang , a y...
9996    The sharks take bite out of the East Coast whe...
9997    During World War II , a brave , patriotic Amer...
9998    A man named Farmer sets out to rescue his kidn...
9999    Seeking justice for his partner â€™ s murder by ...
Name: tags, Length: 9985, dtype: object

In [ ]:
# Replace special characters

text = text.str.replace("[^a-zA-Z0-9]"," ",regex=True)
text

0       Framed in the 1940s for the double murder of h...
1       Raj is a rich   carefree   happy go lucky seco...
2       Spanning the years 1945 to 1955   a chronicle ...
3       The true story of how businessman Oskar Schind...
4       In the continuing saga of the Corleone crime f...
                              ...
9995    The story follows the adventures of Aang   a y...
9996    The sharks take bite out of the East Coast whe...
9997    During World War II   a brave   patriotic Amer...
9998    A man named Farmer sets out to rescue his kidn...
9999    Seeking justice for his partner   s murder by ...
Name: tags, Length: 9985, dtype: object

In [ ]:
# Stemming

from nltk.stem import SnowballStemmer
ss = SnowballStemmer(language='english')

text = text.apply(lambda x : " ".join([ss.stem(i.lower()) for i in tk.tokenize(x)]))
text

0       frame in the 1940s for the doubl murder of his...
1       raj is a rich carefre happi go lucki second ge...
2       span the year 1945 to 1955 a chronicl of the f...
3       the true stori of how businessman oskar schind...
4       in the continu saga of the corleon crime famil...
                              ...
9995    the stori follow the adventur of aang a young ...
9996    the shark take bite out of the east coast when...
9997    dure world war ii a brave patriot american sol...
9998    a man name farmer set out to rescu his kidnap ...
9999    seek justic for his partner s murder by an isi...
Name: tags, Length: 9985, dtype: object

In [ ]:
# Remove stopwords

from nltk.corpus  import stopwords
nltk.download('stopwords')
stop = stopwords.words("english")

text = text.apply(lambda x : " ".join([i for i in tk.tokenize(x) if i not in stop]))
text

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

0       frame 1940s doubl murder wife lover upstand ba...
1       raj rich carefre happi go lucki second generat...
2       span year 1945 1955 chronicl fiction italian a...
3       true stori businessman oskar schindler save th...
4       continu saga corleon crime famili young vito c...
                              ...
9995    stori follow adventur aang young successor lon...
9996    shark take bite east coast sharknado hit washi...
9997    dure world war ii brave patriot american soldi...
9998    man name farmer set rescu kidnap wife aveng de...
9999    seek justic partner murder isi member copenhag...
Name: tags, Length: 9985, dtype: object

In [ ]:
# Vectorization

from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer()

data = vec.fit_transform(text)
data.shape

(9985, 19929)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
sim = cosine_similarity(data)
sim

array([[1.        , 0.00832533, 0.02277542, ..., 0.05558068, 0.0338483 ,
        0.01692797],
       [0.00832533, 1.        , 0.0091374 , ..., 0.        , 0.0025575 ,
        0.        ],
       [0.02277542, 0.0091374 , 1.        , ..., 0.01834609, 0.02171155,
        0.03794868],
       ...,
       [0.05558068, 0.        , 0.01834609, ..., 1.        , 0.05160983,
        0.01058691],
       [0.0338483 , 0.0025575 , 0.02171155, ..., 0.05160983, 1.        ,
        0.00766186],
       [0.01692797, 0.        , 0.03794868, ..., 0.01058691, 0.00766186,
        1.        ]])

In [ ]:
sim.shape

(9985, 9985)

In [ ]:
df[df['title']=="The Dark Knight Rises"].index[0]

688

In [ ]:
# Create function to recommend the movie

def recommend(movie):
  index = df[df['title']==movie].index[0]
  distance = sorted(list(enumerate(sim[index])),reverse=True,key=lambda x:x[1])
  for i in distance[1:6]:
    print(df.iloc[i[0]].title)

In [ ]:
recommend('The Dark Knight Rises')

Batman: The Long Halloween, Part Two
Batman: The Long Halloween, Part One
The Dark Knight
The Batman
Batman: Gotham by Gaslight

In [ ]:
import pickle
pickle.dump(df, open('movies_list.pkl', 'wb'))

In [ ]:
pickle.dump(sim, open('similarity.pkl', 'wb'))

In [ ]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partnerâ€™s murder by an...